* {
    font-family: 'Oswald', sans-serif !important;
}

body {
    margin: 0;
}

.title-logo {
    color: #fce011 !important;
    font-weight: 700 !important;
}

.br-yellow {
    border: 2px solid #fce011;
}

.thead-yellow {
    background-color: #fce011;
    border-radius: 10px !important;
}

.text-yellow {
    color: #fce011 !important;
}

.btn-yellow {
    background-color: #fce011;
    border:  0 !important;
    border-radius: 4px;
    padding: 0.3% 2%;
    font-weight: 600;
    width: 40% !important;
    transition: 0.3s;
}

.buttons-pdf {
    border: 0 !important;
    background-color: #151515;
    color: #FFF;
    border-radius: 6px;
    padding: 1% 4%;
}

.buttons-pdf:hover {
    border: 0 !important;
    background-color: #fce011;
    color: #151515;
    border-radius: 6px;
    padding: 1% 4%;
}

.btn-yellow:hover {
    background-color: #000;
    color: #fce011;
}

/* Homepage */
.body-homepage {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bg-homepage {
    margin-top: -18%;
    width: 100%;
}

.main-homepage {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.main-homepage nav {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-homepage nav .nav-name-logo {
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: #fce011;
    width: 30%;
    margin-left: 0;
    cursor: pointer;
}

.main-homepage nav .nav-name-menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: #FFF;
    width: 60%;
    padding-left: 0;
    cursor: pointer;
    padding-right: 7%;
}

.main-homepage nav .nav-name-menu li:hover {
    color: #fce011;
    font-weight: 700;
}

.main-homepage h1 {
    color: #fce011;
    font-size: 3vw;
    text-align: center;
    margin-top: 15%;
}

.main-homepage h2 {
    color: #FFF;
    font-size: 1.5vw;
    text-align: center;
}

.main-homepage h3 {
    color: #000;
    font-size: 1.2vw;
    text-align: center;
    background-color: #fce011;
    width: 14%;
    padding: 1vw 0;
    margin-top: 2%;
    z-index: 5;
}

.main-homepage .place-jadwal {
    width: 50%;
    text-align: center;
    display: flex;
    background-color: rgba(237, 253, 6, 0.5);
    height: 5.7vw;
    padding: 2% 0;
    color: #FFF;
    margin-top: -2%;
    margin-bottom: 2%;
    z-index: -1;
}

.main-homepage .place-jadwal p {
    width: 50%;
}

.main-homepage button {
    background-color: #fce011;
    border:  0;
    border-radius: 4px;
    padding: 0.5% 2%;
    margin-top: 2%;
    font-weight: 700;
    color: #000;
}

.main-homepage button:hover {
    background-color: #000;
    color: #fce011;
}

.main-homepage button a {
    color: #000;
    padding: 0.5% 2%;
}

.main-homepage button a:hover {
    color: #fce011;
    text-decoration: none;
}

/* Login */
.main-login {
    display: flex;
    justify-content: space-between;
    padding: 10%;
}

.main-login .place-form-login {
    width: 40%;
    background-color: #fff;
    border-radius: 8px;
    padding: 3%;
    border: 2px solid #fce011;
}

.main-login .place-form-login h1 {
    color: #fce011;
    font-weight: 600;
    font-size: 2vw;
    text-align: left;
    border-bottom: 2px solid #fce011;
    width: 26%;
}

.main-login .place-form-login input {
    border: 1px solid #000;
    border-radius: 4px;
    padding: 3%;
    width: 100%;
    margin-top: 9%;
}

.main-login .title-form-login h1 {
    color: #fce011;
    font-weight: 600;
    font-size: 5vw;
    text-align: left;
    padding-left: 10%;
}

.main-login .title-form-login p {
    color: #FFF;
    font-size: 1.5vw;
    padding-left: 10%;
    font-weight: 600;
}

/* Main */
.menu-select a {
    font-weight: 700;
}

.menu-select a:hover {
    color: #fce011 !important;
    text-decoration: none !important;
}

.menu-select-active {
    color: #fce011 !important;
    text-decoration: none !important;
}

.menu-category .place-menu-category {
    border-radius: 6px;
    transition: 0.3s;
    border: 2px solid #000;
}

.menu-category .place-menu-category:hover {
    box-shadow: -1px 3px 45px -14px rgba(0,0,0,0.56);
    -webkit-box-shadow: -1px 3px 45px -14px rgba(0,0,0,0.56);
    -moz-box-shadow: -1px 3px 45px -14px rgba(0,0,0,0.56);
    transition: 0.3s;
    border: none;
}

.desc-place-map {
    background-color: #fce011;
    width: 700px;
    height: 360px;
    padding: 4%;
    border-radius: 10px;
    margin-left: -4%;
    margin-top: 3%;
}

.desc-place-map h1 {
    font-weight: 700;
    color: #000;
}

/* Service Product */
.left-menu-category {
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: 700;
    color: #151515;
}

.left-menu-category:hover {
    color: #fce011;
    text-decoration: none;
}

.service-place {
    width: 100%;
    height: 15vw;
    border-radius: 6px;
    object-fit: cover;
    padding: 10%;
}

.service-place .price-service {
    color: #151515;
    font-weight: 700;
    font-size: 1.2vw;
    width: auto;
}

.service-place .price-service strong {
    background-color: #fce011;
    border-radius: 6px;
    padding: 0 4%;
}

.service-place .title-service {
    color: #000;
    font-weight: 700;
    font-size: 1.2vw;
}

.service-place .title-service strong {
    background-color: rgba(237, 253, 6, 0.5);
    border-radius: 6px;
    padding: 0 4%;
}

.service-place .desc-service {
    color: #000;
    font-weight: 700;
    font-size: 1.2vw;
}

.service-place .desc-service strong {
    background-color: rgba(237, 253, 6, 0.5);
    border-radius: 6px;
    padding: 0 4%;
}
